<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibuildapp.romanblack.CustomFormPlugin">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".CustomFormCameraActivity"/>

        <activity android:name=".PhotoViewActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="CustomFormPlugin"
            android:screenOrientation="portrait"/>
    </application>
    <activity android:name="com.android.camera.Camera"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:screenOrientation="portrait"
        android:clearTaskOnLaunch="true"
        android:taskAffinity="android.task.camera"/>
</manifest>
